<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Dashboard</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="data/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="data/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <style type="text/css">
        #content {
            padding: 5px;
            min-height: 900px;
        }
    </style>
</head>

<body>

    {{template "header.html" .}}

    <div class="row">
        <div class="col s12 m4 l3">
            <div id="menu">
                <ul class="collapsible expandable">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>
                            <h6> Course Menu</h6>
                        </div>
                        <div class="collapsible-body"><span>
                          <a href="?menu=newcourse">New Course</a>
                        </span></div>
                        <div class="collapsible-body"><span>
                            <a href="?menu=listcourse&offset=0&limit=10">List Course</a>
                          </span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>
                            <h6> Course Material Menu</h6>
                        </div>
                        <div class="collapsible-body"><span>
                          <a href="?menu=newcoursematerial">Add Course Material</a>
                        </span></div>
                        <div class="collapsible-body"><span>
                            <a href="?menu=listcoursematerial&offset=0&limit=10">List Course Material</a>
                          </span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>
                            <h6> Course Exam Menu</h6>
                        </div>
                        <div class="collapsible-body"><span>
                          <a href="?menu=newexam">Add Course Exam</a>
                        </span></div>
                        <div class="collapsible-body"><span>
                            <a href="?menu=listexam&offset=0&limit=10">List Course Exam</a>
                          </span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>
                            <h6> Category Menu</h6>
                        </div>
                        <div class="collapsible-body"><span>
                          <a href="?menu=newcategory">New Category</a>
                        </span></div>
                        <div class="collapsible-body"><span>
                            <a href="?menu=listcategory&offset=0&limit=10">List Category</a>
                          </span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>
                            <h6> Profile Menu</h6>
                        </div>
                        <div class="collapsible-body"><span>
                          <a href="?menu=editprofile">Edit Profile</a>
                        </span></div>
                        <div class="collapsible-body"><span>
                            <a href="/logout">Logout</a>
                          </span></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col s12 m8 l9">
            <div id="container">
                <div id="content">

                    {{if .newCourse}}

                    <h3 class="header center orange-text">Create New Course</h3>

                    {{else if .listCourse}}
                    <div class="row">
                        {{range .listCourse}}

                        <div class="col s12 m8 l4">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" width="180" height="150" src="https://warm-wave-76942.herokuapp.com/{{.ImageURL}}">
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">{{.CourseName}}<i class="material-icons right">more_vert</i></span>
                                    <div class="row">
                                        <div class="input-field col s12 m12 l12">
                                            <button onclick="window.location.href='/courseDetail?id={{.ID}}';" class="btn-small waves-effect waves-light green">Detail</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">{{.CourseName}}<i class="material-icons right">close</i></span>
                                    <p>{{range .CourseDetails}} {{.OverviewText}}<br> {{end}}</p>
                                </div>
                            </div>
                        </div>

                        {{end}}
                    </div>

                    <h5 class="header center"><a href="?menu=listcourse&offset={{.offset}}&limit={{.limit}}">Load More</a></h5>

                    {{else if .newCourseMaterial}}

                    <h3 class="header center orange-text">Create New Course Material</h3>

                    {{else if .listCourseMaterial}}
                    <div class="row">
                        {{range .listCourseMaterial}}

                        <div class="col s12 m8 l4">
                            <div class="card">
                                <div class="card-image">
                                    <img width="180" height="150" src="https://warm-wave-76942.herokuapp.com/{{.ImageURL}}">
                                    <span class="card-title">{{.CourseName}}</span>
                                </div>
                                <div class="card-content">
                                    <p> </p>
                                </div>
                                <div class="card-action">
                                    <span class="green-text"><a href="/courseMaterial?id={{.ID}}">Edit Course Materials</a></span>
                                </div>
                            </div>
                        </div>

                        {{end}}
                    </div>

                    <h5 class="header center"><a href="?menu=listcoursematerial&offset={{.offset}}&limit={{.limit}}">Load More</a></h5>


                    {{else if .newCourseExam}}

                    <h3 class="header center orange-text">Create New Course Exam</h3>

                    {{else if .listCourseExam}}
                    <div class="row">
                        {{range .listCourseExam}}

                        <div class="col s12 m8 l4">
                            <div class="card">
                                <div class="card-image">
                                    <img width="180" height="150" src="https://warm-wave-76942.herokuapp.com/{{.ImageURL}}">
                                    <span class="card-title">{{.CourseName}}</span>
                                </div>
                                <div class="card-content">
                                    <p> </p>
                                </div>
                                <div class="card-action">
                                    <span class="green-text"><a href="/courseExam?id={{.ID}}">Edit Course Exam</a></span>
                                </div>
                            </div>
                        </div>

                        {{end}}
                    </div>

                    <h5 class="header center"><a href="?menu=listexam&offset={{.offset}}&limit={{.limit}}">Load More</a></h5>

                    {{else if .newCategory}}

                    <h3 class="header center orange-text">Create New Category</h3>

                    {{else if .listCategory}}
                    <div class="row">
                        {{range .listCategory}}

                        <div class="col s12 m8 l4">
                            <div class="card horizontal">
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <h4>{{.Name}}</h4>
                                    </div>
                                    <div class="card-action">
                                        <a href="/categoryEdit?id={{.ID}}">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{end}}
                    </div>

                    <h5 class="header center"><a href="?menu=listcategory&offset={{.offset}}&limit={{.limit}}">Load More</a></h5>

                    {{else if .teacherProfile}}

                    <h3 class="header center orange-text">Edit Profile {{.teacherProfile.Name}}</h3>
                    <div class="row">
                        <div class="col s0 m0 l2"></div>
                        <div class="col s12 m10 l8">
                            <form action="/update/profile" method="POST">
                                <span class="blue-text text-darken-2">
                                <div class="card-panel">
                                        <div class="row">
                                          <div class="input-field col s12 m12 l12">
                                            <i class="material-icons prefix">mode_edit</i>
                                              <input type="hidden" name="id" value="{{.teacherProfile.ID}}" />
                                              <input id="name" type="text" placeholder="Edit Name" name="name" value="{{.teacherProfile.Name}}">
                                          
                                          </div>
                                        </div>
                                        <div class="row">
                                                <div class="input-field col s12 m12 l12">
                                                    <i class="material-icons prefix">mode_edit</i>
                                                    <input id="email" type="text" placeholder="Edit Email" name="email" value="{{.teacherProfile.Email}}">
                                                </div>
                                              </div>
                                              <div class="row">
                                                <div class="input-field col s12 m12 l12">
                                                    <i class="material-icons prefix">mode_edit</i>
                                                      <input id="password" type="password" placeholder="New Password" name="password">
                                                
                                                </div>
                                              </div>
                                    <div class="row">
                                        <div class="input-field col s12 m12 l12"  style="text-align:center">
                                            <button id="login_button" class="btn-large waves-effect waves-light green" type="submit">Update</button>
                                        </div>
                                        <div class="input-field col s12 m12 l12"  style="text-align:center">
                                        </div>
                                    </div>
                                </div>
                            </span>
                            </form>
                        </div>
                    </div>


                    {{else if .listIsEmpty}}

                    <div class="section no-pad-bot" id="index-banner">
                        <div class="container">
                            <br><br>
                            <div class="row">
                                <div class="col s12 m8 l8">
                                    <div class="icon-block">
                                        <h2 class="center"><img src="/data/notfound.png" /></h2>
                                        <h5 class="center">No Result Found</h5>
                                    </div>
                                </div>
                            </div>
                            <br><br>

                        </div>
                    </div>

                    {{else}}

                    <h3 class="header center orange-text">Welcome {{.teacher.Name}}</h3>
                    <div class="row center">
                        <h6 class="header col s12 light">A modern and simple course platform for you to share your knowledge with all student across nations</h6>
                    </div>

                    {{end}}

                </div>
            </div>
        </div>
    </div>


    {{template "footer.html"}}

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="data/js/materialize.js"></script>
    <script src="data/js/init.js"></script>
    <script>
        var elem = document.querySelector('.collapsible.expandable');
        var instance = M.Collapsible.init(elem, {
            accordion: false
        });
    </script>

</body>

</html>