
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Lets Teach</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="data/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="data/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  
  {{template "header.html" .}}
  <br /><br />
  <div class="row">
    <div class="col m2 l4"></div>
    <div class="col s12 m8 l4">
        <form action="/submit/login" method="POST">
        
    <span class="blue-text text-darken-2">
        <div class="card-panel">
            <div class="row">
                        <div class="input-field col s12 m12 l12" style="text-align:center">
                        <h4 class="header center orange-text">Login</h4>
                    </div>
            </div>
                <div class="row">
                        <div class="input-field col s12 m12 l12">
                            <input id="email" type="text" placeholder="Input Email" name="email">
                        
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12 m12 l12">
                              <input id="password" type="password" placeholder="Password" name="password">
                        
                        </div>
                      </div>
            <div class="row">
                <div class="input-field col s12 m12 l12"  style="text-align:center">
                    <button id="login_button" class="btn-large waves-effect waves-light green" type="submit">Login</button>
                    
                  </div>
                  <div class="input-field col s12 m12 l12"  style="text-align:center">
                    <p class="header center red-text">{{.message}}</p>
                  </div>
                <div class="input-field col s12 m12 l12"  style="text-align:center">
                  <a href="/register">Register</a>
                </div>
            </div>
        </div>
    </span>

</form>
    </div>
    <div class="col m2 l4">
    </div>
</div>

  {{template "footer.html"}}
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="data/js/materialize.js"></script>
  <script src="data/js/init.js"></script>

  </body>
</html>
